@use '_partials' as *;

.description {
    padding: 1rem;
    margin: 1.5rem auto;

    &__title {
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
}

.desc-article__title {
    @include flex-center();
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
}

.desc-acticle-container {
    display: grid;
    grid-template-columns: repeat(2, min(calc(100%/2 - $gap), 250px));
    justify-content: space-around;
    column-gap: $gap;
    row-gap: 2*$gap;
}

.desc-article {
    border: 0.1rem solid grey;
    border-radius: 12px;
    height: 10.83rem;
    
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}


.desc-article__text {
    @include flex-center();
    width: 100%;
    height: 100%;
    padding: 0 3%;
}

.about-us {
    padding: 1rem;
    margin: 1.5rem auto;

    &__title {
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    &__img-container {

        padding: 1.5rem 0;

        img {
            width: 100%;
            height: auto;
        }

    }
}

.about-article__title {
    margin: 1.2rem 0 0.5rem;
}

.bold-text {
    font-weight: bold;
}


@media (min-width: 550px) {
    .desc-acticle-container {
        grid-template-columns: repeat(3, min(calc(100%/3 - $gap*2), 250px));
        column-gap: $gap;
        row-gap: 2*$gap;
    }
}

@media (min-width: 700px) {
    .desc-acticle-container {
        grid-template-columns: repeat(4, min(calc(100%/4 - $gap*3), 250px));
        column-gap: $gap;
        row-gap: 2*$gap;
    }
}

@media (min-width: 1000px) {
    .desc-acticle-container {
        grid-template-columns: repeat(4, min(calc(100%/4 - $gap*3), 250px));
        gap: calc($gap/100);
        justify-content: space-between;
    }

    .description {
        width: 1000px;
    }

    .about-us {
        
        width: 1000px;

        &__img-container {

            float: left;
            width: 50%;
            padding: 0 1rem 0.5rem 0;
            margin: 0 auto;

            img {
                width: 100%;
                height: auto;
            }

        }

        &::after {
            content: "";
            display: block;
            clear: right;
        }
    }
}

@media (min-width: 1200px) {

    .description {
        width: 1200px;
    }

    .about-us {
        width: 1200px;
    }
}
