@use '_partials' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

nav {
    background-color: $primary-color;
    padding: 0.25rem;
}

.nav-list{
    list-style: none;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: space-between;
    padding: $padding;
}

.nav-list__item{
    color: #fff;
}

.nav-list__item--selected{
    font-weight: bold;
}

.nav-list__item a {
    text-decoration: none;
    color: #fff;
}

.button {
    border: none;
    box-shadow: none;
}

.header {
    background-repeat: cover;
    background: url("../images/rainbow-vortex.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    gap: 1.2rem;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        color: #fff;
        font-size: 2.5rem;
    }

    &__desc {
        color: #fff;
        font-size: 1.5rem;
        margin: 0.6rem 0;
    }

    &__button {
        color: #000;
        background-color: $secondary-color;
        padding: 1rem 3rem;
        font-size: 1rem;
        font-weight: bold;
        transition: all 0.25s ease-in;
    }

    &__button:hover {
        background-color: lighten(#f7a442, 10%);
        transform: scale(105%);
        cursor: pointer;
    }
}

footer {
    background-color: #000;
    padding: 2*$padding;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 1.5rem;
}

/* Media and Page Sizing styles */

@media (min-width: 900px){
    html {
        font-size: 14px;
    }

    .header {
        height: 500px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(25, 1fr);
        grid-template-rows: repeat(6, 1fr);

        &__text {
            grid-area: 3/ 14/ 4/ 25;
            justify-self: end;
        }

        &__button {
            grid-area: 4/ 15/ 5/ 24;
            justify-self: end;
        }
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }

    .header {
        height: 600px;

        &__text {
            grid-area: 3/ 12/ 4/ 20;
        }

        &__button {
            grid-area: 4/ 13/ 5/ 18;
        }
    }
}