@use "../utils/mixins";
@use "../utils/variables";

.bio {
    @include mixins.responsive-padding(3rem);
    @include mixins.flex-container(center, center);
    gap: 2rem;
    flex-wrap: wrap;

    &__image-container {
        opacity: 0;
        animation: fadeSlideInLeft 0.9s ease-in forwards;
    }

    &__image {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    &__text-container {
        @include mixins.flex-container(flex-start, flex-start);
        flex-direction: column;
        row-gap: 1.5rem;
        width: 100%;
        opacity: 0;
        animation: fadeSlideInRight 1s ease-in forwards;
    }

    &__header {
        color: variables.$dark-blue;
        align-self: center;
    }

    &__text {
        color: variables.$text-color;
        line-height: 150%;
    }
}

.button-container {
    @include mixins.flex-container(flex-start, center);
    gap: 1.25rem;
    flex-wrap: wrap;
}


@media (prefers-reduced-motion: reduce) {
  .bio {
    &__image-container,
    &__text-container {
        @include mixins.cancel-fade-animation();
    }
  }
}

@media screen and (min-width:700px) {
    .bio {
        &__image {
            width: auto;
            height: 450px;
        }

        &__text-container {
            width: 45%;
        }

        &__header {
            align-self: flex-start;
        }
    }
}