@use "../utils/mixins";
@use "../utils/variables";

.bio {
    @include mixins.responsive-padding(3rem);
    @include mixins.flex-container(center, center);
    gap: 2rem;
    flex-wrap: wrap;

    &__image {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    &__text-container {
        @include mixins.flex-container(flex-start, flex-start);
        flex-direction: column;
        row-gap: 1.5rem;
        width: 100%;
    }

    &__header {
        color: variables.$dark-blue;
        align-self: center;
    }

    &__text {
        color: variables.$text-color;
        line-height: 150%;
    }
}

.button-container {
    @include mixins.flex-container(flex-start, center);
    gap: 1.25rem;
    flex-wrap: wrap;
}

@media screen and (min-width:700px) {
    .bio {
        &__image {
            width: auto;
            height: 450px;
        }

        &__text-container {
            width: 45%;
        }

        &__header {
            align-self: flex-start;
        }
    }
}