@use "../utils/mixins";
@use "../utils/variables";

.footer {
    @include mixins.flex-container(space-between, flex-start);
    @include mixins.responsive-padding();
    flex-direction: column;
    gap: 1rem;
    background-color: variables.$dark-blue;
    opacity: 0;
    animation: fadeSlideInTop 0.5s ease-in forwards 1s;

    &__logo,
    &__copy {
        color: variables.$white;
    }

    &__nav {
        @include mixins.flex-container(flex-start, flex-start);
        flex-wrap: wrap;
        gap: 1rem;
        list-style: none;
    }

    &__nav-item a {
        text-decoration: none;
        color: variables.$white;
        transition: all 0.25s ease-in-out;
    }
}

@media (prefers-reduced-motion: reduce) {
    .footer {
        @include mixins.cancel-fade-animation();
    }
}

@media screen and (min-width: 600px) {
    .footer {
        flex-direction: row;
        align-items: center;

        &__nav {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }


        &__hamburger {
            display: none;
        }
    }
}