@use "../utils/mixins";
@use "../utils/variables";

.latest-projects {
    @include mixins.responsive-padding(3rem);
    @include mixins.flex-container(center, center);
    gap: 3rem;
    flex-direction: column;
    background-color: variables.$light-grey;

    & > .button__primary {
        opacity: 0;
        animation: fadeSlideInLeft 1.8s ease-in-out forwards;
    }
}

.projects {
    &__container {
        @include mixins.flex-container(center, center);
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    &__header {
        opacity: 0;
        animation: fadeSlideInBottom 1.3s ease-in-out forwards;
    }
}

.project {
    &__container {
        @include mixins.flex-container(center, center);
        flex-direction: column;
        flex: 0 1 424px;
        min-width: 180px;
        border-radius: 0.5rem;
        overflow: hidden;
        border: 1px solid variables.$line-grey;
        box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
        opacity: 0;
        animation: fadeSlideInTop 0.6s ease-in-out forwards 0.5s;
    }

    &__image-container {
        width: 100%;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__tag {
        font-size: 0.75rem;
        font-weight: 300;
        color: variables.$light-text;
        margin-bottom: 0.5rem;
    }

    &__title {
        font-size: 1.125rem;
        font-weight: 600;
        color: variables.$dark-blue;
        margin-bottom: 1rem;
    }

    &__desc {
        font-size: 0.875rem;
        font-weight: 400;
        color: variables.$light-text;
        margin-bottom: 1rem;
    }

    &>.button {
        font-size: 1rem;
        font-weight: 600;
    }

    &__article {
        padding: 1.875rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    .latest-projects {
        & > .button__primary {
            @include mixins.cancel-fade-animation();
        }
    }

    .projects {
        &__header {
            @include mixins.cancel-fade-animation();
        }
    }

    .project {
        &__container {
            @include mixins.cancel-fade-animation();
        }
    }
}