$page-padding: 10rem;
$white: #FFFFFF;
$purple: #A53DFF;
$dark-purple: #3F0075;
$neutral: #333333;
$light-grey: #F0F1F3;
$text-color: #556070;
$dark-blue: #132238;
$light-text: #626365;
$line-grey: #E6E8EB;